.topnav {
  width: 100%;
  height: 100px;
  display:flex;
  flex-direction: row;
}

.logo{
    background-color:rgba(0, 180, 216, 1);
   background-image: url("./memorez-logo.png");
   height: 100px;
   width:250px;
   background-size: cover;
   padding-right: 25px;
}

.link-set{
    float: right;
    background-color: rgba(0, 180, 216, 1);
    height:100%;
    display: flex; /* This makes the div a flex container */
    flex-grow: 1;
    overflow: hidden;
    float: right;
    position: relative;


}

.single-link{
    text-align: center;
    float: right;
    text-decoration: none;
    margin: 35px 25Px;
    font-weight: bold;
    font-size: large;
    
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}

@media screen and (max-width: 639px) {
    .topnav {
        width: 100%;
        height: 50px;
        display:flex;
        flex-direction: row;
      }
      
      .logo{
          background-color:rgba(0, 180, 216, 1);
         background-image: url("./memorez-logo.png");
         height: 100%;
         width:100px;
         background-size: cover;
      }
      .link-set{
        float: right;
        background-color: rgba(0, 180, 216, 1);
        width: 80%;
        height:100%;
        overflow: hidden;
    }
    .single-link{
        text-align: center;
        float: right;
        text-decoration: none;
        margin: 10px;
        font-size: small;
        
    }
}

