.topnav {
  width: 100%;
  height: 100px;
  display:flex;
  flex-direction: row;
}

.logo{
    background-color:rgba(0, 180, 216, 1);
   background-image: url("./memorez-logo.png");
   height: 100px;
   width:20%;
   background-size: cover;
}

.link-set{
    float: right;
    background-color: rgba(0, 180, 216, 1);
    width: 100%;
    height:100%;

}

.single-link{
    text-align: center;
    float: right;
    text-decoration: none;
    margin: 25px;
    
}

