#signUpFullContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signUpLeftContainer{
width: 60%;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

#signUpForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signUpInput{
    margin: 5px  5px;
    padding: 4px;
    font-size: medium;
}

#btnSubmit{
    width: 100px;
}

@media screen and (max-width: 639px) {

    #signUpLeftContainer{
        width: 90%;
        }

}