#btn_landing{
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
background: rgba(20, 238, 150, 1);
color: black;
border: 2px solid #555555;
}

#btn_landing:hover {
    background-color: #e7e7e7;
}